################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PredictWinner/.vs/PredictWinner/v15
/PredictWinner/PredictWinner/obj
/PredictWinner/PredictWinner/bin/Debug/netcoreapp2.0
