################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PredictWinner/.vs/PredictWinner/v15
/PredictWinner/PredictWinner/obj
/PredictWinner/PredictWinner/bin/Debug/netcoreapp2.0
/WiggleSubsequence/.vs/WiggleSubsequence/v15
/WiggleSubsequence/WiggleSubsequence/obj
/WiggleSubsequence/WiggleSubsequence/bin/Debug/netcoreapp2.0
/DetectNearbyNearDuplicates/.vs/DetectNearbyNearDuplicates/v15/Server/sqlite3
/DetectNearbyNearDuplicates/DetectNearbyNearDuplicates/obj/Debug/netcoreapp2.0
/DetectNearbyNearDuplicates/DetectNearbyNearDuplicates/obj
/DetectNearbyNearDuplicates/.vs/DetectNearbyNearDuplicates/v15
/DetectNearbyNearDuplicates/DetectNearbyNearDuplicates/bin/Debug/netcoreapp2.0
/LongestPalindromicSubsequence/.vs/LongestPalindromicSubsequence/v15
/LongestPalindromicSubsequence/LongestPalindromicSubsequence/obj
/LongestPalindromicSubsequence/LongestPalindromicSubsequence/bin/Debug/netcoreapp2.0
/ZigZagString/.vs/ZigZagString/v15
/ZigZagString/ZigZagString/bin/Debug/netcoreapp2.0
/ZigZagString/ZigZagString/obj
/BulbSwitcher/.vs/BulbSwitcher/v15
/BulbSwitcher/BulbSwitcher/obj
/DataStructures/.vs/DataStructures/v15
/DataStructures/DataStructures/obj
/MutableRangeSum/.vs/MutableRangeSum/v15
/MutableRangeSum/MutableRangeSum/obj
/MutableRangeSum/MutableRangeSum/bin/Debug/netcoreapp2.0
/RangeSumQuery/.vs/RangeSumQuery/v15
/RangeSumQuery/RangeSumQuery/bin/Debug/netcoreapp2.0
/RangeSumQuery/RangeSumQuery/obj
/RedundantConnection/.vs/RedundantConnection/v15
/RedundantConnection/RedundantConnection/obj
/RedundantConnection/RedundantConnection/bin/Debug/netcoreapp2.0
/RedundantDirectedConnection/.vs/RedundantDirectedConnection/v15
/RedundantDirectedConnection/RedundantDirectedConnection/obj
