################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PredictWinner/.vs/PredictWinner/v15
